<div class="post-partial" id="{{this.id}}">

    <div> <h2>Title:</h2> <h2> {{this.title}} </h2> </div>
    <div><h2>Text:</h2><p>{{this.text}}</p></div>
    <div><h2>Created At:</h2><p>{{this.createdAt}}</p></div>
    <p>{{this.comments}}</p>
    <div><button id="deleteBtn">Delete Post</button><a href="/post/{{this.id}}">Check Comments</a></div>
    {{!-- <script src="/js/delete.js"></script> --}}
    <script src="/js/checkComments.js"></script>
</div>