<div class="post-partial" id="{{this.id}}">
    <h2>Author: {{this.User.username}}</h2>
     <h2>Title: {{this.title}}</h2> 
    <h2>Text: {{this.text}}</h2>
    <h2>Created At: {{this.createdAt}}</h2>
   
    {{!-- <script src="/js/delete.js"></script> --}}
    <a id="gotoComments" href="/post/{{this.id}}">Go to post</a>
    
</div>
 
 